<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="icon" type="image/x-icon" href="2048px-User_icon_2.svg.png">
    <link rel="stylesheet" href="/static/styles/styleps.css">

</head>
<body>
<form action="/ck" method="post">
<div class="maindiv">
    <hr style="margin: 5%">
    <div class="inputs">
    <p class="p1">Please Enter user</p>
        <div class="Fields">

            <div class="Fieldset">

                <input name="user" type="text" class="Before-FS" required="" autocomplete="off" placeholder="" >
                <h1 class="Fs-H"><span>user</span></h1>
                <!--                <label class="placeholder">Email</label>-->
                <hr style="margin: 5%">
                <p class="p1">Please Enter password</p>
                <input name="password" type="text" class="Before-FS" required="" autocomplete="off" placeholder="" >
                <h1 class="Fs-H"><span>password</span></h1>
                <input type="submit" class="btnsave" value="Enter">
            </div>



        </div>



    </div>

</div>

</form>
</body>
</html>