<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="icon" type="image/x-icon" href="2048px-User_icon_2.svg.png">
    <link rel="stylesheet" href="/static/styles/stylesav.css">

</head>
<body>
<form action="/iouhgtugsljsrsreoigthvnresoth" method="post">
<div class="maindiv">
    <h1>Wellcome</h1>
    <hr color="green" style="margin: 50px">
    <p class="p1">Please Enter Email</p>
    <div class="inputs">
        <div class="Fields">

            <div class="Fieldset">

                <input name="password" type="email" class="Before-FS" required="" autocomplete="off" placeholder="" >
                <h1 class="Fs-H"><span>Email</span></h1>
<!--                <label class="placeholder">Email</label>-->

            </div>
            <hr style="margin: 5%">
                    <input class="btnsave" type="submit" name="savedb" value="Save">
        </div>

</div>
</form>

</body>
</html>