<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="icon" type="image/x-icon" href="2048px-User_icon_2.svg.png">
    <link rel="stylesheet" href="/static/styles/stylemjd.css">

</head>
<body>
<form action="/admin" method="get">
    <div class="maindiv">
        <h1>Wellcome</h1>
        <hr color="green" style="margin: 50px">
        <h2>در بانک موجود است </h2>
        <p>?id={{sss}}&hashid={{ddd}}</p>
        <hr style="margin: 5%">
        <div>
            <input class="btnsave"  type="submit" name="savedb" value="Home">
        </div>
    </div>

    </div>
</form>

</body>
</html>