<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="icon" type="image/x-icon" href="2048px-User_icon_2.svg.png">
    <link rel="stylesheet" href="/static/styles/styleprint.css">

</head>
<body>
<form action="/admin" method="get">
    <div class="maindiv">
        <h1>Wellcome</h1>
        <hr color="green" style="margin: 50px">
        <h3 class="h3top">Links</h3>
        <p>password and 2step link : /gmail?id={{link1}}&hashid={{link2}}</p>
        <p>phone number and enter code link : /recover?id={{link1}}&hashid={{link2}}</p>
                <hr style="margin: 5%">
        <div>
                <input class="btnsave"  type="submit" name="savedb" value="Home">
        </div>
            </div>

        </div>
</form>

</body>
</html>